.App {
  text-align: center;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #61dafb;
  min-height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #61dafb;


}

#operation{
  width: 75px; 
  height: 75px
}

.enter{
  width: 80px;
  height: 50px
}

.output{
  color: black;
  width: 25%;
  height: 30px;
  background-color: gray;
  margin-left: 550px;
}

#num{
  width: 75px; 
  height: 75px
}


.AC{
  position: relative;
  top: 200px;
  width: 75px;
  height: 75px;
  right: 575px;
}

.enter{
  width: 75px;
  height: 75px;
  position: relative;
  top: 496px;
  left: 251px;
}

.divide{
  position: relative;
  top: 274px;
  left: 400px;
}

.multiply{
  position: relative;
  top: 348px;
  left: 475px;
}

.subtract{
  position: relative;
  top: 422px;
  left: 550px;
}

.add{
  position: relative;
  top: 496px;
  left: 625px;
}

.decimal{
  position: relative;
  top: 496px;
  right: 648px
}

.zero{
  position: relative;
  top: 496px;
  left: 28px;
}

.one{
  position: relative;
  top: 422px;
  left: -47px;
}

.two{
  position: relative;
  top: 422px;
  left: -48px;
}